{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{%static '/css/user.css' %}" />
  </head>
  <body>
    <form action="" method="POST" enctype="multipart/form-data">
      {%csrf_token%}
     
      <h1>Add Product</h2>
      <fieldset>
        {%for field in form%}
        <div>
          <div class="label">{{field.label}}</div>
          {{field}}
          {%for error in field.errors%}
          <p style="color:red">{{error}}</p>
           {%endfor%}
        </div>
        {%endfor%}
      </fieldset>

  
      <button class="btn" type="submit">Add Product</button>
    </form>
   
   

  </body>
</html>
