{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{%static '/css/user.css' %}" />
  </head>
  <body>
    {%if user.is_authenticated%}

    {%if user.is_superuser%}
    <form action="" method="POST" enctype="multipart/form-data">
      {%csrf_token%}
     
      <h1>Add Product</h2>
      <fieldset>
        {%for field in form%}
        <div>
          <div class="label">{{field.label}}</div>
          {{field}}
          {%for error in field.errors%}
          <p style="color:red">{{error}}</p>
           {%endfor%}
        </div>
        {%endfor%}
      </fieldset>

  
      <button class="btn" type="submit">Add Product</button>
    </form>
   
    {%else%}
    <div style="text-align: center;text-decoration: none;margin-top: 1rem;">
      <h1 >You are not a Super User!</h1>
      <a href="{%url 'login'%}">Login Now</a>
    </div>
  
    {%endif%}
    {%endif%}

  </body>
</html>
