{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authorization Error</title>
    <link rel="stylesheet" href="{%static '/css/user.css' %}" />
  </head>
  <body>
    <div style="text-align: center; text-decoration: none; margin-top: 1rem">
      <h1>You are not Authorized To View This Page!</h1>
      <a href="{%url 'profile'%}">Go Back</a>
    </div>
  </body>
</html>
