{%extends 'user/home.html'%} {%load static%}{%block content%}
<div style="margin-left: 10rem; flex-grow: 2">
  <img
    style="width: 70px; height: 70px; border-radius: 100%; object-fit: cover"
    src="{{user.profile.image.url}}"
    alt="Profile Image"
  />
  <p>Name: {{user.first_name}} {{user.last_name}}</p>
  <p>Username: {{user.username}}</p>
  <p>Email: {{user.email}}</p>
  <p>Phone:{{user.profile.phone}}</p>
  <p>City: {{user.profile.address.city}}</p>
  <p>State: {{user.profile.address.state}}</p>
  <p>Country: {{user.profile.address.country}}</p>

  <p>Address: {{user.profile.address.house_no}}</p>
  <button
    style="
      border: 1px solid black;
      outline: 0;
      padding: 0.5rem;
      border-radius: 0.4rem;
    "
  >
    <a style="text-decoration: none" href="{%url 'update_profile'%}"> Update</a>
  </button>
</div>

{%endblock content%}
